<h1 mat-dialog-title>Configurações da Figura</h1>
<div mat-dialog-content>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">


                    <!-- User -->
                    <div class="md-form">
                       
                        <input type="text" id="loginFormUser" formControlName="username" class="form-control">
                           
                    </div>
                <br>
                    <!-- Password -->
                    <div class="md-form">
            
                        <input type="password" id="loginFormPassword" formControlName="password" class="form-control"placeholder="Password"/>

                    </div>

                    <!-- Sign in button -->
                </form>
        </div>
        <div mat-dialog-actions>
            <div class="text-center mt-4">
                <button [disabled]="loading" mdbBtn color="info" mdbWavesEffect (click)="onSubmit()" >Entrar</button>
               
            </div>
        </div>
 